<header class="site-header" id="siteHeader">
  <div class="header-container">
    <div class="header-left">
      <a href="/index.html" class="header-logo-link">
        <img src="/images/logos/VICCM_logo.png" alt="Sociedad Colombiana de Mastozoología" class="header-logo">
      </a>
      <a href="/index.html" class="header-logo-link">
        <img src="/images/logos/Simple_negativo.png" alt="Universidad de la Amazonia" class="header-logo">
      </a>
    </div>

    <div class="header-right">
      <nav class="main-nav">
        <a href="/index.html" title="Inicio"><i class="fa-solid fa-house"></i></a>
        <a href="/comites.html">Comités</a>
        <a href="/noticias.html">Noticias</a>
        <a href="/simposios.html">Simposios</a>
        <a href="/cursos.html">Cursos</a>
        <a href="/sede.html">Sede</a>
        <a href="https://mamiferoscolombia.org/" target="_blank" title="Sociedad Colombiana de Mastozoología"><i class="fa-solid fa-paw"></i></a>
        <a href="/contacto.html" title="Contacto"><i class="fa-solid fa-address-book"></i></a>
        <a href="https://github.com/SCMas/VICCM" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
        <button class="search-btn" id="searchBtn" type="button">Buscar</button>
      </nav>
    </div>
  </div>
</header>